button {
  cursor: pointer;
  padding: calc(0.5 * var(--spacing, 1rem)) var(--spacing, 1rem);
  font-size: 1rem;
  color: var(--button-color);
  background: var(--button-bg);
  border-radius: var(--border-radius);
  border: var(--button-border, 1px solid black);
  transition: background var(--transition-time-medium), opacity var(--transition-time-medium);
}

button:hover {
  color: var(--button-hover-color, var(--button-color));
  background: var(--button-hover-bg, var(--button-bg));
  border: var(--button-hover-border, var(--button-border, 1px solid black));
}

button:active {
  color: var(--button-active-color, var(--button-hover-color, var(--button-color)));
  background: var(--button-active-bg, var(--button-hover-bg, var(--button-bg)));
  border: var(--button-active-border, var(--button-hover-border, var(--button-border, 1px solid black)));
}
