.fade-in {
  animation-name: fadein;
  animation-timing-function: linear;
  animation-duration: var(--transition-time-short);
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name: fadeout;
  animation-timing-function: linear;
  animation-duration: var(--transition-time-medium);
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
