@import url("/css/button.css");
@import url("/css/effects.css");
@import url("/css/menu.css");
@import url("/css/wiki-bookmark.css");
@import url("/css/wiki-bookmark-list.css");

@import url("/css/browse.css");
@import url("/css/page-flipping.css");
@import url("/css/search.css");

@font-face {
  font-family: "Benjamin Franklin";
  font-style: normal;
  font-weight: 700;
  src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"), url(/BenjaminFranklin.ttf);
}

html {
  font-family: serif;
  font-weight: 100;
}

body {
  background-color: var(--bg-color, white);
  margin: 0;
  color: var(--text-color, black);
  transition: background-color var(--transition-time-short);
}

h1,
h2,
h3 {
  font-family: "Benjamin Franklin";
}

input {
  font-family: inherit;
  font-weight: 100;
}

a {
  color: var(--text-color);
}

a:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

a:focus-visible,
input:not([type="text"]):focus-visible,
button:focus-visible,
select:focus-visible {
  outline: 2px solid var(--outline-color, black);
  outline-offset: 0.3em;
}

mark,
*::selection {
  background-color: var(--outline-color, black);
  font-weight: bold;
  color: var(--outline-text, white);
}

/*@media only screen and (min-width: 1080px) and (min-height: 600px) {*/
:root {
  --book-aspect-ratio: 1.618;
  --book-height: min(calc(100vh - 14 * var(--spacing)), calc((100vw - 20 * var(--spacing)) / var(--book-aspect-ratio)));
}

main {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

uri-router {
  margin-left: 5rem;
}

#browse {
  display: grid;
  column-gap: calc(2 * var(--spacing, 1rem));
  grid-template-columns: min-content max-content min-content;
  row-gap: 2em;
  max-width: none;
  justify-content: center;
}

#browse nav.page-turner {
  grid-row: 1;
}

#browse .cover {
  height: var(--book-height);
  width: calc(var(--book-height) * var(--book-aspect-ratio));
  grid-column: 2;
  grid-row: 1;
  //max-width: calc(var(--book-height) - 4 * var(--spacing));
  //max-height: calc((var(--book-height) - 4 * var(--spacing)) / var(--book-aspect-ratio));
  position: relative;
}

#browse > .page-turner {
  display: flex;
  align-items: center;
}

#browse wiki-text {
  overflow: auto;
}

#browse #range-wrapper {
  margin-top: 0;
  grid-row: 2;
}

wiki-bookmark input[type="checkbox"] ~ input {
  margin: 1em auto 0em auto;
}

.result-page {
  margin: 0 auto;
  height: 300px;
  width: calc(300px * var(--book-aspect-ratio) / 2);
}

@media only screen and (max-width: 1024px) {
  :root {
    --book-height: 450px;
  }
  body {
    min-width: 1024px;
  }
}

@media only screen and (max-height: 600px) {
  :root {
    --book-height: 390px;
  }
  body {
    min-height: 600px;
  }
}
