@import url("/css/button.css");
@import url("/css/effects.css");
@import url("/css/menu.css");
@import url("/css/wiki-bookmark.css");
@import url("/css/wiki-bookmark-list.css");
@import url("/css/wiki-range.css");

@import url("/css/browse.css");
@import url("/css/page-flipping.css");
@import url("/css/search.css");

html {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

body {
  background-color: var(--bg-color, white);
  margin: 0;
  color: var(--text-color, black);
  transition: background-color var(--transition-time-short);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /*overflow-y: hidden; TODO: Why is this needed?*/
}

h1,
h2,
h3 {
  font-weight: 100;
}

input {
  font-family: inherit;
  font-weight: 100;
}

a {
  color: var(--text-color);
}

a:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

a:focus-visible,
input:not([type="text"]):focus-visible,
button:focus-visible,
select:focus-visible {
  outline: 2px solid var(--outline-color, black);
  outline-offset: 0.3em;
}

main {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

mark,
*::selection {
  background-color: var(--outline-color, black);
  font-weight: bold;
  color: var(--outline-text, white);
}

@media only screen and (min-width: 850px) and (min-height: 600px) {
  :root {
    --book-height: calc(100vh - 14 * var(--spacing));
    --book-aspect-ratio: 1.618;
  }

  #browse {
    grid-template-columns: min-content max-content min-content;
    row-gap: 2em;
    max-width: none;
  }

  #browse nav.page-turner {
    grid-row: 1;
  }

  #browse .cover {
    height: var(--book-height);
    width: calc(var(--book-height) * var(--book-aspect-ratio));
    grid-column: 2;
    grid-row: 1;
    max-width: calc(100vw - 18 * var(--spacing));
    max-height: calc((100vw - 18 * var(--spacing)) / var(--book-aspect-ratio));
  }

  #browse > .page-turner {
    display: flex;
    align-items: center;
  }

  #browse wiki-text {
    overflow: auto;
  }

  #browse #range-wrapper {
    margin-top: 0;
    grid-row: 2;
  }

  wiki-bookmark input[type="checkbox"] ~ input {
    margin: 1em auto 0em auto;
  }

  .result-page {
    height: 200px;
    width: calc(200px * var(--book-aspect-ratio));
  }
}
