#menu-bar {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--menu-background, lightgray);
  color: var(--menu-color, darkslategray);
}

#menu-bar #logo {
  width: 2.5rem;
}

#menu-bar a {
  width: 1.5rem;
  text-align: center;
  display: block;
  padding: calc(1.25 * var(--spacing, 1rem));
  text-decoration: none;
  color: var(--menu-color);
  transition: color var(--transition-time-short);
}

#menu-bar a:hover {
  text-decoration: none;
  color: var(--menu-color-hover, black);
}

#menu-bar a.active,
#menu-bar a:active {
  text-decoration: none;
  color: var(--menu-color-active, var(--menu-color-hover, black));
}
