#pages-wrapper {
  perspective: 200vw;
  perspective-origin: center center;
  opacity: 1;
  transition: 500ms opacity;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading #pages-wrapper {
  opacity: 0;
}

#pages-wrapper .page {
  position: absolute;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  top: var(--spacing);
  right: var(--spacing);
  bottom: var(--spacing);
  left: 50%;
  background: var(--page-fold-color);
  display: grid;
}

#pages-wrapper .page.flipping {
  transform: rotateY(-180deg);
  transition: 1.5s;
}

#pages-wrapper .page.flipped {
  transform: rotateY(-180deg);
}

#pages-wrapper .page.flipped.flipping {
  transform: rotateY(0deg);
  transition: 1.5s;
  transform-style: preserve-3d;
}

#pages-wrapper .page-front,
#pages-wrapper .page-back {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  opacity: 0.999; /* Chrome does not apply opacity 1 for some reason */
  box-shadow: 0 0 1px var(--menu-background);
}

#pages-wrapper .page.shadow :is(.page-front, .page-back) {
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}

#pages-wrapper .page-front {
  background: linear-gradient(to right, var(--page-fold-color), var(--page-bg) 3%);
  transition: 0.45s opacity ease-out;
}

#pages-wrapper .page-back {
  transform: rotateY(-180deg);
  background: linear-gradient(to left, var(--page-fold-color), var(--page-bg) 3%);
  transition: 0.45s opacity ease-out;
}

/* On first page, show smaller paper "folding" shadow */
#pages-wrapper .page[data-page="0"] .page-front {
  background: linear-gradient(to right, var(--page-fold-color), var(--page-bg) 0.5rem);
}
#pages-wrapper .page[data-page="-1"] .page-back {
  background: linear-gradient(to left, var(--page-fold-color), var(--page-bg) 0.5rem);
}
