#pages-wrapper {
  perspective: 200vw;
  perspective-origin: center center;
  opacity: 1;
  transition: 500ms opacity;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading #pages-wrapper {
  opacity: 0;
}

#pages-wrapper .page {
  position: absolute;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  top: var(--spacing);
  right: var(--spacing);
  bottom: var(--spacing);
  left: 50%;
  background: var(--page-bg);
  box-shadow: 0 0 1px var(--page-fold-color);
}

#pages-wrapper .page.flipping {
  transform: rotateY(-180deg);
  transition: 1.5s;
}

#pages-wrapper .page.flipped {
  transform: rotateY(-180deg);
}

#pages-wrapper .page.flipped.flipping {
  transform: rotateY(0deg);
  transition: 1.5s;
}

#pages-wrapper :is(.page-front, .page-back) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d; /* Prevents firefox from showing backside of pages */
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
  opacity: 0.999; /* Opacity 1 does not work in chrome when preserve-3d is set */
}

#pages-wrapper .page-front {
  box-shadow: inset 0.5rem 0 1rem -1rem black;
}

#pages-wrapper .page-back {
  transform: rotateY(-180deg);
  box-shadow: inset -0.5rem 0 1rem -1rem black;
}

/* Shadow when turning page */
#pages-wrapper .page :is(.page-front, .page-back)::before {
  opacity: 0;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.45s opacity ease-out;
  background-color: var(--page-fold-color);
  z-index: 2;
}

#pages-wrapper .page.shadow :is(.page-front, .page-back)::before {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}
