version: "3"

services:
  wiki-2:
    container_name: wiki-2
    build:
      context: ./misc
      dockerfile: ./Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./website:/usr/share/nginx/html
