:root {
  --transition-time-short: 0.2s;
  --transition-time-medium: 0.5s;
  --transition-time-long: 0.5s;

  --content-font: Helvetica, sans-serif;

  --bg-color: rgb(245, 245, 245) !important;
  --text-color: rgb(50, 50, 50);

  --text-color-hover: rgb(0, 0, 0);
  --text-color-active: rgba(0, 0, 0);

  --menu-color: rgba(255, 255, 255, 0.6);
  --menu-color-active: rgb(255, 255, 255);
  --menu-background: rgb(52, 58, 64) !important;

  --page-border: 1px solid rgba(0, 0, 0, 0.125);

  --element-background: white;
  --element-text-color: rgba(0, 0, 0, 0.6);
  --element-border-radius: 0.5em;
  --element-border: 1px solid rgba(0, 0, 0, 0.2);
  --element-border-hover: 1px solid rgba(0, 0, 0, 0.5);
  --element-border-active: 1px solid rgba(0, 0, 0, 0.7);

  --element-selection-background: rgba(255, 255, 255, 1);
  --element-selection-border: 1px solid rgba(0, 0, 0, 0.125);
  --element-selection-shadow: none;
  --element-selection-separator: 1px solid rgba(0, 0, 0, 0.125);

  --page-title-color: rgba(0, 0, 0, 0.6);
  --page-number-color: rgba(0, 0, 0, 0.6);
  --bookmark-color: rgb(180, 180, 180);
  --bookmark-color-bookmarked: rgb(201, 0, 0);

  --progress-progress-height: 0.5em;
  --progress-track-padding: 0.21em;
  --progress-progress-background: rgb(0, 201, 201);
  --progress-thumb-background: transparent;

  --outline-color: rgb(0, 201, 201);
  --outline-text: rgb(255, 255, 255);
}
