#browse {
  display: grid;
  justify-content: center;
  row-gap: calc(2 * var(--spacing, 1rem));
  column-gap: calc(2 * var(--spacing, 1rem));
  grid-template-columns: min-content 1fr min-content;
  max-width: 800px;
  margin: 0 auto;
}

#browse .cover {
  background-color: var(--menu-background, lightgray);
  border-radius: var(--page-border-radius, var(--border-radius));
  grid-row: 1;
  grid-column: 1 / span 3;
  perspective: 150vw;
  perspective-origin: left center;
  padding: var(--spacing);
}

#browse .wiki-image-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#browse .wiki-text-wrapper {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  max-width: 100%;
  flex-grow: 1;
  margin: 0 calc(3 * var(--spacing, 1rem));
}

#browse wiki-text {
  display: block;
  font-family: var(--content-font, monospace);
  font-size: 0.8rem;
  padding: 0.5em 0;
  flex-basis: 0;
  flex-grow: 1;
  white-space: pre-wrap;
}

.page-turner button {
  padding: 0;
  line-height: 0.75;
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 6rem;
  font-family: "Arial";
  opacity: 1;
}

.page-turner button:disabled {
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition-time-medium);
}

.page-number-wrapper {
  position: relative;
}

.page-number-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  height: 1em;
  background: linear-gradient(rgba(var(--page-bg-raw), 0.001), var(--page-bg));
  z-index: 1;
}

.page-number {
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  width: 70%;
  margin: 0.5em auto 0.8em auto;
  padding-bottom: 0.2em;
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border-color var(--transition-time-medium);
  color: var(--page-number-color);
  border-radius: 0;
}

.page-number:hover,
.page-number:focus {
  transition: border-color var(--transition-time-medium);
  border-bottom: 1px solid var(--page-number-color, black);
}

#range-wrapper {
  margin-top: 0.25em;
  text-align: center;
  grid-column: 2;
}

#progress-percentage {
  margin-bottom: var(--spacing, 1rem);
}
