button {
  cursor: pointer;
  padding: calc(0.5 * var(--spacing, 1rem)) var(--spacing, 1rem);
  font-size: 1rem;
  color: var(--button-color);
  background: var(--button-bg);
  border-radius: var(--border-radius);
  border: var(--button-border, 1px solid black);
  box-shadow: var(--button-shadow);
  transition: background var(--transition-time-medium), color var(--transition-time-medium),
    border var(--transition-time-medium), text-shadow var(--transition-time-short),
    box-shadow var(--transition-time-short), opacity var(--transition-time-medium);
}

button:hover {
  color: var(--button-hover-color, var(--button-color));
  background: var(--button-hover-bg, var(--button-bg));
  border: var(--button-hover-border, var(--button-border, 1px solid black));
  box-shadow: var(--button-hover-shadow);
  transition: background var(--transition-time-medium), color var(--transition-time-medium),
    border var(--transition-time-medium), text-shadow var(--transition-time-long),
    box-shadow var(--transition-time-long);
}

button:active {
  color: var(--button-active-color, var(--button-hover-color, var(--button-color)));
  background: var(--button-active-bg, var(--button-hover-bg, var(--button-bg)));
  border: var(--button-active-border, var(--button-hover-border, var(--button-border, 1px solid black)));
  box-shadow: var(--button-active-shadow, var(--button-hover-shadow));
  transition: background var(--transition-time-medium), color var(--transition-time-short),
    border var(--transition-time-short), text-shadow var(--transition-time-medium),
    box-shadow var(--transition-time-medium);
}
