.transition {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  background: var(--ripple-background);
  height: 50px;
  width: 50px;
  box-shadow: var(--element-shadow);
  border-radius: 50%;
  animation-name: ripple;
  animation-timing-function: ease-in;
  animation-duration: var(--transition-time-long);
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale3d(4, 4, 1);
  }
}

.fade-in {
  animation-name: fadein;
  animation-timing-function: linear;
  animation-duration: var(--transition-time-short);
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name: fadeout;
  animation-timing-function: linear;
  animation-duration: var(--transition-time-medium);
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
