#menu-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  background-color: var(--menu-background, lightgray);
  box-shadow: var(--menu-shadow);
  color: var(--menu-color);
  transition: background-color var(--transition-time-short);
}

#menu-bar a {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  color: var(--menu-color);
  transition: color var(--transition-time-medium), text-shadow var(--transition-time-medium);
}

#menu-bar a:hover,
#menu-bar a.active {
  text-decoration: none;
  transition: color var(--transition-time-medium), text-shadow var(--transition-time-medium);
  color: var(--menu-color-active);
  text-shadow: var(--text-shadow-hover);
}
