#search {
  text-align: center;
  margin: 0 auto;
  max-width: 780px;
}

#search textarea {
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  white-space: pre-wrap;
  padding: var(--element-border-radius, 0.5em);
  resize: none;
  width: 100%;
  margin: 1em 0 2.5em 0;
  border-radius: var(--element-border-radius);
  border: var(--element-border, 1px solid black);
  background: var(--element-background);
  box-shadow: var(--progress-track-shadow);
  color: var(--text-color);
  height: calc(var(--element-border-radius, 0.5em) * 2 + 1.1em);
  overflow: hidden;
  -webkit-appearance: none;
}

#search-results {
  margin: 0 auto;
  max-width: 780px;
}

#search-results .result {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em 3em;
  margin: 1em 0;
  padding: 1em 0 2em 0;
  animation: fadein var(--transition-time-medium);
}

#search-results:empty {
  display: none;
}

#search-results .result-link {
  font-size: 1.2em;
  display: block;
  word-break: break-all;
  margin: 0.8em 0;
  color: var(--text-color);
}

#search-results .result-breadcrumb {
  font-size: 0.9em;
  margin: 14px 0;
  opacity: 0.6;
}

#search-results .result-breadcrumb a {
  padding: 0 0.5em;
  color: var(--text-color);
  text-decoration: none;
}

#search-results .result-breadcrumb a:hover {
  text-decoration: underline;
}

#search-results .result-breadcrumb a:first-child {
  padding-left: 0;
}

#search-results .result-snippet {
  word-break: break-all;
  font-size: 0.9em;
  display: block;
  font-family: var(--content-font);
}

#search-results .content {
  display: block;
  margin: 14px 0;
  font-family: var(--content-font);
  font-size: 0.2em;
  color: var(--text-color);
  border-radius: calc(var(--element-border-radius) * 2.5);
  padding: 8px;
  white-space: pre-wrap;
  word-break: break-all;
  border: var(--element-selection-border, 1px solid black);
  background: var(--element-selection-background);
  box-shadow: var(--element-selection-shadow);
}
