#search svg {
  display: block;
  width: 7rem;
  margin: 0 auto calc(2 * var(--spacing)) auto;
}

#search form {
  max-width: 780px;
  position: relative;
  margin: 0 auto;
  max-width: 35rem;
  margin-bottom: calc(5 * var(--spacing));
}

#search button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 12px; /* Centers button text in firefox */
  border: var(--button-border);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#search textarea {
  display: block;
  box-sizing: border-box;
  white-space: pre-wrap;
  padding: calc(0.5 * var(--spacing, 1rem)) var(--spacing, 1rem);
  padding-right: calc(6ch + 3 * var(--spacing));
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width: 100%;
  margin-bottom: var(--spacing, 1rem);
  border-radius: var(--border-radius);
  border: var(--input-border, 1px solid black);
  background: var(--input-bg);
  box-shadow: var(--input-shadow);
  color: var(--input-color);
  min-height: calc(var(--spacing, 1rem) + 1rem);
  overflow: hidden;
  -webkit-appearance: none;
}

#search-results {
  margin: 0 auto;
  max-width: 780px;
}

#search-results .result {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: var(--spacing, 1rem) calc(3 * var(--spacing, 1rem));
  margin: var(--spacing, 1rem) 0;
  padding: var(--spacing, 1rem) 0 calc(2 * var(--spacing, 1rem)) 0;
  animation: fadein var(--transition-time-medium);
}

#search-results:empty {
  display: none;
}

#search-results .result-link {
  font-size: 1.4em;
  display: block;
  word-break: break-all;
  color: var(--primary);
  text-decoration: none;
}

#search-results .result-breadcrumb {
  font-size: 0.9em;
  margin: calc(0.75 * var(--spacing, 1rem)) 0;
  opacity: 0.6;
}

#search-results .result-breadcrumb a {
  padding: 0 calc(0.5 * var(--spacing, 1rem));
  color: var(--text-color);
  text-decoration: none;
}

#search-results .result-breadcrumb a:hover {
  text-decoration: underline;
}

#search-results .result-breadcrumb a:first-child {
  padding-left: 0;
}

#search-results .result-snippet {
  word-break: break-all;
  font-size: 0.9em;
  display: block;
  font-family: var(--content-font);
}

#search-results .result-page {
  font-size: 0.2rem;
  background: var(--page-bg);
  box-shadow: var(--page-shadow);
  border-radius: var(--page-border-radius, var(--border-radius));
  border: var(--page-border, 1px solid black);
  margin-bottom: var(--spacing);
}

#search-results .result-page wiki-content {
  display: block;
  padding: calc(1.5 * var(--spacing)) var(--spacing);
}

.result-page mark {
  padding: 1em;
}
