wiki-bookmark {
  position: relative;
}

wiki-bookmark::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1em;
  left: 0;
  height: 1em;
  background: linear-gradient(var(--page-bg), rgba(var(--page-bg-raw), 0.001));
  z-index: 1;
}

wiki-bookmark label > * {
  float: left;
}

wiki-bookmark input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

wiki-bookmark input[type="checkbox"] + label {
  float: right;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  clip: rect(-1px, 2em, 4em, 0);
}

wiki-bookmark input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  height: 1.83em;
  border-left: 1em solid var(--bookmark, silver);
  border-right: 1em solid var(--bookmark, silver);
  border-bottom: 1em solid var(--page-bg, white);
  background-color: var(--bookmark, silver);
  transition: border-top-color var(--transition-time-medium), border-right-color var(--transition-time-medium),
    border-left-color var(--transition-time-medium), background-color var(--transition-time-medium);
}

wiki-bookmark input[type="checkbox"]:checked + label:before {
  border-right-color: var(--bookmark-bookmarked, black);
  border-left-color: var(--bookmark-bookmarked, black);
  background-color: var(--bookmark-bookmarked, black);
  transition: border-top-color var(--transition-time-medium), border-right-color var(--transition-time-medium),
    border-left-color var(--transition-time-medium), background-color var(--transition-time-medium);
}

wiki-bookmark input[type="checkbox"]:focus-visible + label:before {
  outline: 2px solid var(--outline-color, black);
}

wiki-bookmark input[type="checkbox"]:focus-visible + label {
  clip: rect(-2px, calc(2em + 2px), calc(3em + 2px), -2px);
}

wiki-bookmark input[type="checkbox"] ~ input {
  transition: opacity var(--transition-time-medium);
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin: 1.5rem auto 0rem auto;
  width: 70%;
  font-size: 1.1rem;
  padding-bottom: 0.2em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: var(--page-title-color);
}

wiki-bookmark input[type="checkbox"]:checked ~ input {
  transition: border var(--transition-time-medium);
}

wiki-bookmark input:checked ~ input:hover,
wiki-bookmark input:checked ~ input:focus {
  border-bottom: 1px solid var(--page-title-color, black);
}
