wiki-range::part(track),
#search-results .track {
  width: calc(100% - 2 * var(--progress-track-padding, 3px) - 2px);
  border-radius: calc(var(--progress-progress-height) + var(--progress-track-padding));
  background-color: var(--bg-color);
  border: var(--progress-track-border, 1px solid black);
  box-shadow: var(--progress-track-shadow);
  padding: var(--progress-track-padding, 3px);
}

wiki-range::part(progress),
#search-results .track .progress {
  background: var(--progress-progress-bg, black);
  height: var(--progress-progress-height, 5px);
  border-radius: var(--progress-progress-height);
  box-shadow: var(--progress-progress-shadow, none);
}

wiki-range::part(thumb) {
  background-color: var(--progress-thumb-bg, transparent);
}

wiki-range::part(track) {
  cursor: ew-resize;
}

wiki-range::part(track):not(:active):hover {
  filter: none;
}

wiki-range::part(progress) {
  filter: none !important;
}

#search-results .progress {
  transition: width var(--transition-time-medium);
}
